:root {
  --text-primary: #212121;
  --text-nav: #2196f3;
  --text-web-header: #000;
  --text-web-color: #2196f3;
  --contact-link: #757575;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
body {
  font-family: var(--primary-font);
}
.web-header {
  font-family: var(--secondary-font);
  color: var(--text-web-header);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.web-color {
  font-family: var(--secondary-font);
  color: var(--text-web-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.list {
  font-style: normal;
  list-style-type: none;
}

.solution {
  background-color: #2f303a;
}
.main-title {
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--text-nav);
  color: #fff;
  cursor: pointer;
}
.features {
  list-style-type: none;
}
.features-item {
}
.features-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
}
.features-text {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-link);
}
.section-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.works {
  list-style-type: none;
}
.works-item {
}
.team {
  list-style-type: none;
}
.team-item {
}
.team-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.team-text {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contact-link);
}
.filter {
  list-style-type: none;
}
.gallery {
  list-style-type: none;
}
.gallery-item {
}

.nav-link {
  font-family: var(--primary-font);
  color: var(--text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link {
  font-family: var(--primary-font);
  color: var(--contact-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
  color: var(--text-nav);
}
.filter-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  background-color: var(--text-web-color);
  color: #fff;
}
.gallery-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-text {
  font-family: var(--primary-font);
  color: var(--contact-link);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.footer {
  background-color: #2f303a;
}
.address {
  font-family: var(--primary-font);
  font-style: normal;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-link-footer {
  font-family: var(--primary-font);
  color: var(--contact-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.web-footer {
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
